* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:peachpuff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1,
  h2 {
    margin-left: 34%;
    padding: 20px;
    color: palevioletred;
  
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
    margin-left: 40%;
  }
  
  .heart {
    margin-top: 3%;
    margin-left: 35%;
    animation: pulsar 1s infinite alternate;
  }
  @keyframes pulsar {
      0% {
          transform: scale(.8);
      }
  
      100% {
          transform: scale(1.2);
      }
  }
  footer{
      margin-left: 40%;
      padding-top: 5%;
      color: palevioletred;

  }
  p{
      margin-left: 4%;
  }
  